.ng-invalid.ng-dirty
{
    border-left:5px solid red;
}

.ng-valid.ng-dirty
{

  border-left:5px solid green;
}

img{
  width: 100%;
}
span{
  color: red;
}
.navbar-inverse .navbar-nav li.nav-button a{
  display: block;
  border-radius: 5px;
  background-color: #46c892;
  margin-left:600px;
  color: #fff;
}
.navbar-inverse .navbar-nav li.nav-button:hover a{
  display: block;
  border-radius: 5px;
  background-color: #96c892;
  margin-left:600px;
  color: #fff;
}
header{
  height: 300px;
  margin-bottom: 10px;
}
