<form name="hotelReviewsForm"  novalidate>
	<div id="reviews">
		<div class="container well" >
			<div class="row" for="formGroup"><strong>REVIEW </strong></div>
			<div class="row" for="formGroup">Rate: </div>
			<div class="row" for="formGroup">Opinion: </div>
		</div>
		<div class="container well">
			<div class="row" for="formGroup"><strong>Your review</strong></div>
			<div class="row" for="formGroup">Rate: </div>
			<div class="row" for="formGroup">Opinion: </div>
			<div class="row" for="formGroup">Email: </div>
			<br/><b>Rate:</b>
			<select class="form-control" >
					<option value="">Rate the film</option>
			</select>

			<br/><b>Opinion:</b><br/> <textarea class="form-control" placeholder="Write here your review." ></textarea>
			<br/><b>Email:</b><br/> <input type="email" class="form-control"  placeholder="example@email.com"/><br/><br/>
			<div class="form-group col-sm-6">
				<button class="btn btn-success">
					Submit your review
				</button>
			</div>
			<div class="form-group col-sm-6">
				<label>
					<input class="btn btn-default btn-primary btn-block" type="button" value="Back">
				</label>
			</div>
		</div>
	</div>
</form>
